#Github token
.ghtoken

# Node Modules
node_modules/
npm-debug.log

# Bower Components
bower_components/

# JetBrains IDEs projects
.idea/

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
